:root {
    --lightBg: white;
    --dark: #34495e;
}

.loading-text {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      color: var(--dark);
      margin: 0;
}
